@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";

*{
    box-sizing: border-box;
}
/* box size를 자동으로 더 커지게 하는 것을 방지 
    ex ) w : 300px , h : 100px ,
        padding-Top: 10px;
        padding-left:20px;

        => 실제 박스 사이즈는 280px, 90px이 됨. 이게 없으면 padding의 사이즈 만큼 박스 사이즈가 증가함. 

*/

body {
  background-color: white;
  padding: 10px 20px;
  /* top-bottom left right */
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}
